# Created by .gitignore support plugin (hsz.mobi)

.DS_Store
.project
.idea/**/*

/node_modules/
/platforms/
/plugins/
/build/
/wwww/
*.dmg
.npmrc
package-lock.json


/_build/
/build-nwjs/
npm-debug.log